/.metadata/
/.recommenders/
/Cpu And Queue/
/FlowControl/
/Matrix/
/PatternFactory/
/Test/
/Threading Sum/
/MavenAndGit/
/AbstractFactory/
/Adapter/
/Builder/
/ChainOfResponsibility/
/Composite/
/Decorator/
/Facade/
/Factory Method/
/Delegate/
/Iterator/
/Mediator/
/Memento/
/Observer/
/PatternExample/
/Prototype/
/Singleton/
/State/
/Strategy/
/TemplateMethod/
/Visitor/
